/*
Color palette by https://bts-colorpalettes.tumblr.com/
Palette here: https://bts-colorpalettes.tumblr.com/post/178711798917/idol-mv-v
Desing by Ceci Gonzalez

purple: #c439a0;
red: #d01740;
pink: #db7777;
cream: #efc8a1;
olive: #c4d004;
*/
html, body{
	background-color: #c439a0;
}
h1{
	color: #db7777;
}